.the-Container {
	position: relative;
	width: 100%;
	height: 300px;

	/* margin-left: 5% !important; */
}
.front_right {
    margin-top: 5px !important;
	margin-left: 40% !important;
	justify-content: left !important;
	text-align: start;
}
h5 {
	margin-left: 15% !important;
}
.add_button{
    margin-left: 8rem !important;
    margin-top: 15px !important; 
}

.info{
    margin-top: 15px !important; 
}
.front_img {
	position: relative;
	/* width: 50% !important; */
	height: 230px !important;
	justify-content: flex-start !important;
}

.the-Card {
	position: absolute;
	width: 45%;
	height: 100%;
	justify-content: flex-start !important;
}

.the-Front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	/* background-color: beige; */
	color: black;
}
